In [8]:
import pandas as pd
import numpy as np

In [9]:
data=pd.read_csv('HR.csv')

In [10]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [11]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   str
 2   BusinessTravel            1470 non-null   str
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   str
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   str
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   str
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   str
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   str
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   str
 22  OverTime                  1470 non-null   str
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), str(9)
memory usage: 510.8 KB

In [12]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [13]:
data['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [14]:
data['BusinessTravel'].value_counts() 
# Why not label encoding
# It will convert:
# Non-Travel → 0
# Travel_Frequently → 1
# Travel_Rarely → 2
# This creates a fake numerical relationship, which is wrong for correlation heatmap.

BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64

In [15]:
data['Department'].value_counts()

Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

In [16]:
data['EducationField'].value_counts()

EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64

In [17]:
data['Attrition'] = data['Attrition'].replace({"No":0,"Yes":1})
# data=pd.get_dummies(data,columns=['BusinessTravel'],drop_first=False)

In [18]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [19]:
# I want to find mere dataset me kitne categorical column hai
print(data.select_dtypes(include='object').columns)
# pandas store string as a onject

# print(data.select_dtypes(include=['object','string']).columns)

#pandas support new type called string so not give the warning
# print all categorical columns in my dataset

Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'Over18', 'OverTime'],
      dtype='str')

C:\Users\user\AppData\Local\Temp\ipykernel_13308\3785628631.py:2: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  print(data.select_dtypes(include='object').columns)

In [20]:
data = pd.get_dummies(
    data,
    columns=data.select_dtypes(include=['object','string']).columns.drop('Attrition'),
    drop_first=True,
    dtype=int
)

In [21]:
data.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1,1102,1,2,1,1,2,94,3,...,0,0,0,0,0,1,0,0,1,1
1,49,0,279,8,1,1,2,3,61,2,...,0,0,0,0,1,0,0,1,0,0
2,37,1,1373,2,2,1,4,4,92,2,...,1,0,0,0,0,0,0,0,1,1
3,33,0,1392,3,4,1,5,4,56,3,...,0,0,0,0,1,0,0,1,0,1
4,27,0,591,2,1,1,7,1,40,3,...,1,0,0,0,0,0,0,1,0,0

In [22]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.figure(figsize=(50,30))
# sns.heatmap(data.corr(),annot=True,cmap='coolwarm')
# plt.show()

In [23]:
# Correlation with target
# corr_target = data.corr()['Attrition'].sort_values(ascending=False)

# print(corr_target)

In [24]:
data.drop(['EmployeeCount','StandardHours','EmployeeNumber'],axis=1,inplace=True)

In [25]:
# Scaling

In [26]:
data.describe()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,2.721769,65.891156,2.729932,2.063946,2.728571,6502.931293,...,0.176190,0.069388,0.098639,0.054422,0.198639,0.221769,0.056463,0.457823,0.319728,0.282993
std,9.135373,403.509100,8.106864,1.024165,1.093082,20.329428,0.711561,1.106940,1.102846,4707.956783,...,0.381112,0.254199,0.298279,0.226925,0.399112,0.415578,0.230891,0.498387,0.466530,0.450606
min,18.000000,102.000000,1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,1009.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,2.000000,48.000000,2.000000,1.000000,2.000000,2911.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,36.000000,802.000000,7.000000,3.000000,3.000000,66.000000,3.000000,2.000000,3.000000,4919.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,43.000000,1157.000000,14.000000,4.000000,4.000000,83.750000,3.000000,3.000000,4.000000,8379.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,60.000000,1499.000000,29.000000,5.000000,4.000000,100.000000,4.000000,5.000000,4.000000,19999.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
# Imblanced Data
data['Attrition'].value_counts()

Attrition
0    1233
1     237
Name: count, dtype: int64

In [28]:
# checking outliers

In [29]:
# def checkOutlier(data, col):
#     plt.subplot(1,2,1)
#     plt.boxplot(data[col])
#     plt.subplot(1,2,2)
#     sns.histplot(data=data, x=col,kde=True)
#     plt.axvline(data[col].mean()+(3*data[col].std()),color='red')
#     plt.axvline(data[col].mean()-(3*data[col].std()),color='red')

In [30]:
def checkOutlier(data, col=None):
    
    if col is None:
        cols = data.select_dtypes(include='number').columns
    else:
        cols = [col]
    
    for c in cols:
        plt.figure(figsize=(10,4))
        
        plt.subplot(1,2,1)
        plt.boxplot(data[c])
        plt.title(f'Boxplot of {c}')
        
        plt.subplot(1,2,2)
        sns.histplot(data=data, x=c, kde=True)
        plt.axvline(data[c].mean() + (3 * data[c].std()), color='red')
        plt.axvline(data[c].mean() - (3 * data[c].std()), color='red')
        plt.title(f'Distribution of {c}')
        
        plt.tight_layout()
        plt.show()

In [31]:
# for col in data.select_dtypes(include='number').columns:
#     checkOutlier(data, col)

In [32]:
data.columns

Index(['Age', 'Attrition', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'Gender_Male',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Married', 'MaritalStatus_Single', 'OverTime_Yes'],
      dtype='str')

In [33]:
col = "TotalWorkingYears"

mean = data[col].mean()
std = data[col].std()

upper = mean + 3 * std
lower = mean - 3 * std

data["Outlier_Flag"] = data[col].apply(
    lambda x: "Outlier" if (x > upper or x < lower) else "Normal"
)
data = data[data["Outlier_Flag"] == "Normal"]
data["Outlier_Flag"].value_counts()

Outlier_Flag
Normal    1454
Name: count, dtype: int64

In [34]:
col = "YearsAtCompany"

mean = data[col].mean()
std = data[col].std()

upper = mean + 3 * std
lower = mean - 3 * std

data["Outlier_Flag"] = data[col].apply(
    lambda x: "Outlier" if (x > upper or x < lower) else "Normal"
)
data = data[data["Outlier_Flag"] == "Normal"]
data["Outlier_Flag"].value_counts()

Outlier_Flag
Normal    1430
Name: count, dtype: int64

In [35]:
col = "YearsInCurrentRole"

mean = data[col].mean()
std = data[col].std()

upper = mean + 3 * std
lower = mean - 3 * std

data["Outlier_Flag"] = data[col].apply(
    lambda x: "Outlier" if (x > upper or x < lower) else "Normal"
)
data = data[data["Outlier_Flag"] == "Normal"]
data["Outlier_Flag"].value_counts()

Outlier_Flag
Normal    1413
Name: count, dtype: int64

In [36]:
col = "YearsSinceLastPromotion"

mean = data[col].mean()
std = data[col].std()

upper = mean + 3 * std
lower = mean - 3 * std

data["Outlier_Flag"] = data[col].apply(
    lambda x: "Outlier" if (x > upper or x < lower) else "Normal"
)

data["Outlier_Flag"].value_counts()
data = data[data["Outlier_Flag"] == "Normal"]

In [37]:
data["Outlier_Flag"].value_counts()

Outlier_Flag
Normal    1370
Name: count, dtype: int64

In [38]:
col = "YearsWithCurrManager"

mean = data[col].mean()
std = data[col].std()

upper = mean + 3 * std
lower = mean - 3 * std

data["Outlier_Flag"] = data[col].apply(
    lambda x: "Outlier" if (x > upper or x < lower) else "Normal"
)
data = data[data["Outlier_Flag"] == "Normal"]
data["Outlier_Flag"].value_counts()

Outlier_Flag
Normal    1363
Name: count, dtype: int64

In [39]:
data.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes,Outlier_Flag
0,41,1,1102,1,2,2,94,3,2,4,...,0,0,0,0,1,0,0,1,1,Normal
1,49,0,279,8,1,3,61,2,2,2,...,0,0,0,1,0,0,1,0,0,Normal
2,37,1,1373,2,2,4,92,2,1,3,...,0,0,0,0,0,0,0,1,1,Normal
3,33,0,1392,3,4,4,56,3,1,3,...,0,0,0,1,0,0,1,0,1,Normal
4,27,0,591,2,1,1,40,3,1,2,...,0,0,0,0,0,0,1,0,0,Normal

In [40]:
data = data.drop("Outlier_Flag", axis=1)

In [41]:
data.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1,1102,1,2,2,94,3,2,4,...,0,0,0,0,0,1,0,0,1,1
1,49,0,279,8,1,3,61,2,2,2,...,0,0,0,0,1,0,0,1,0,0
2,37,1,1373,2,2,4,92,2,1,3,...,1,0,0,0,0,0,0,0,1,1
3,33,0,1392,3,4,4,56,3,1,3,...,0,0,0,0,1,0,0,1,0,1
4,27,0,591,2,1,1,40,3,1,2,...,1,0,0,0,0,0,0,1,0,0

In [42]:
data.info()

<class 'pandas.DataFrame'>
Index: 1363 entries, 0 to 1469
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                1363 non-null   int64
 1   Attrition                          1363 non-null   object
 2   DailyRate                          1363 non-null   int64
 3   DistanceFromHome                   1363 non-null   int64
 4   Education                          1363 non-null   int64
 5   EnvironmentSatisfaction            1363 non-null   int64
 6   HourlyRate                         1363 non-null   int64
 7   JobInvolvement                     1363 non-null   int64
 8   JobLevel                           1363 non-null   int64
 9   JobSatisfaction                    1363 non-null   int64
 10  MonthlyIncome                      1363 non-null   int64
 11  MonthlyRate                        1363 non-null   int64
 12  NumCompaniesWorked                 1363 non-null   int64
 13  PercentSalaryHike                  1363 non-null   int64
 14  PerformanceRating                  1363 non-null   int64
 15  RelationshipSatisfaction           1363 non-null   int64
 16  StockOptionLevel                   1363 non-null   int64
 17  TotalWorkingYears                  1363 non-null   int64
 18  TrainingTimesLastYear              1363 non-null   int64
 19  WorkLifeBalance                    1363 non-null   int64
 20  YearsAtCompany                     1363 non-null   int64
 21  YearsInCurrentRole                 1363 non-null   int64
 22  YearsSinceLastPromotion            1363 non-null   int64
 23  YearsWithCurrManager               1363 non-null   int64
 24  BusinessTravel_Travel_Frequently   1363 non-null   int32
 25  BusinessTravel_Travel_Rarely       1363 non-null   int32
 26  Department_Research & Development  1363 non-null   int32
 27  Department_Sales                   1363 non-null   int32
 28  EducationField_Life Sciences       1363 non-null   int32
 29  EducationField_Marketing           1363 non-null   int32
 30  EducationField_Medical             1363 non-null   int32
 31  EducationField_Other               1363 non-null   int32
 32  EducationField_Technical Degree    1363 non-null   int32
 33  Gender_Male                        1363 non-null   int32
 34  JobRole_Human Resources            1363 non-null   int32
 35  JobRole_Laboratory Technician      1363 non-null   int32
 36  JobRole_Manager                    1363 non-null   int32
 37  JobRole_Manufacturing Director     1363 non-null   int32
 38  JobRole_Research Director          1363 non-null   int32
 39  JobRole_Research Scientist         1363 non-null   int32
 40  JobRole_Sales Executive            1363 non-null   int32
 41  JobRole_Sales Representative       1363 non-null   int32
 42  MaritalStatus_Married              1363 non-null   int32
 43  MaritalStatus_Single               1363 non-null   int32
 44  OverTime_Yes                       1363 non-null   int32
dtypes: int32(21), int64(23), object(1)
memory usage: 378.0+ KB

In [43]:
data['Attrition'].value_counts()

Attrition
0    1136
1     227
Name: count, dtype: int64

In [44]:
# data["Attrition"] = data["Attrition"].map({"No": 0, "Yes": 1})

In [45]:
X = data.drop("Attrition", axis=1)
y = data["Attrition"]
y = y.astype(int)

In [46]:
from imblearn.over_sampling import SMOTE
sm = SMOTE()
X_sm, y_sm = sm.fit_resample(X, y)

In [47]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X_train_scaled = ss.fit_transform(X_sm)

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train_scaled, y_sm, test_size=0.3, random_state=42)

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_train_scaled, y_sm,
    test_size=0.2,
    random_state=42,
)

In [50]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_validate

In [51]:
knn = KNeighborsClassifier()
result = cross_validate(knn, X_train, y_train)
result['test_score'].mean()
# knn_model = knn.fit(X_train, y_train)

0.8761768534495807

In [52]:
from sklearn.model_selection import GridSearchCV

knn = KNeighborsClassifier()
parameters = {'n_neighbors' : np.arange(3,16,2),
               'metric' :['euclidean', 'cosine', 'manhattan', 'minkowski']}
gcv = GridSearchCV(estimator=knn, param_grid=parameters)
result =gcv.fit(X_train,y_train)

In [53]:
# knn_model = gcv.fit(X_train, y_train)

In [54]:
train_pred = gcv.predict(X_train)
test_pred = gcv.predict(X_test)
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
test_acc = accuracy_score(y_test, test_pred)
train_acc = accuracy_score(y_train, train_pred)
print('Training Accuracy : ', train_acc)
print('Testing Accuracy : ', test_acc)

Training Accuracy :  0.9284534947716016
Testing Accuracy :  0.9032967032967033

In [55]:
# Hyperparameter tunning

In [56]:
gcv.best_params_

{'metric': 'cosine', 'n_neighbors': 9}

In [57]:
# Confusion matrix code

In [58]:
confusion_matrix(y_test, test_pred)

array([[208,  17],
       [ 27, 203]], dtype=int64)

In [59]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
gcv.fit(X_train,y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'metric': ['euclidean', 'cosine', 'manhattan',
                                    'minkowski'],
                         'n_neighbors': array([ 3,  5,  7,  9, 11, 13, 15])})

In [60]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_validate


y_train_pred=gcv.predict(X_train)
train_accuracy = accuracy_score(y_train, y_train_pred)
# result = cross_validate(knn, X_train, y_train)
y_test_pred = gcv.predict(X_test)
test_accuracy = accuracy_score(y_test, y_test_pred)
print("Training Accuracy:", train_accuracy)
print("Testing Accuracy:", test_accuracy)

Training Accuracy: 0.9284534947716016
Testing Accuracy: 0.9032967032967033

In [61]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,test_pred)

array([[208,  17],
       [ 27, 203]], dtype=int64)

In [62]:
print(classification_report(y_test, test_pred))

              precision    recall  f1-score   support

           0       0.89      0.92      0.90       225
           1       0.92      0.88      0.90       230

    accuracy                           0.90       455
   macro avg       0.90      0.90      0.90       455
weighted avg       0.90      0.90      0.90       455

In [63]:
import pickle
with open("attrition_model.pkl", "wb") as f:
    pickle.dump(gcv, f)